body {
	width: 960px;
	margin: auto;
}
* {
	box-sizing: border-box;
}
#form-container {
	margin-top: 5%;
	border: solid 2px black;
	border-radius: 12px;
}

/*button {
	font-size: 28px;
	text-decoration: none;
	margin-right: 5px;
	border: none;
	background: #0ed2a5;
	color: #ffffff;
	border-radius: 10px;
	padding: 5px;
	margin-left: 5px;
	transform: skew(-0.15rad);
}*/
 button {
    width: 20%;
    background-color: #2b77d6;
    color: white;
    padding: 14px 20px;
    margin: 1% 0 1% 2%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
	transform: skew(-0.15rad);
} 
input[type=text], select {
    width: 95%;
    padding: 12px 12px;
    margin-left: 2.5%;
    margin-bottom: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}
label {
	margin: 2% 0 1% 2.5%;
}
#train-schedule {
	margin-top: 5%;
	border: solid 2px black;
	border-radius: 12px;
}
h3 {
	font-size: 18px;
}
.row {
	margin-left: .5%;
}
#header {
	text-align: center;
}